h1 {
}

.article-title {
	margin: 15px;
	font-size: 20px;
	font-weight: bold;
}

section h2 {
	border-radius: 5px;
}	

section {
	margin: 10px;
	background-color: unset;
	border-radius: unset;
}

.language-plaintext {
/* 	border: solid 1px gray;
    border-radius: 3px; */
    padding: 3px;
    margin: 2px;
}
   
.highlighter-rouge {
	background-color: #eee;
}