h1 {
}

h2 {
	border-radius: 5px;
}	

section {
	margin: 10px;
	background-color: unset;
	border-radius: unset;
}

.language-plaintext {
	border: solid 1px gray;
    padding: 3px;
    border-radius: 3px;
    margin: 2px;
}
   
.highlighter-rouge {
	background-color: #eee;
}