body {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	padding: 24px;
	background-color: #efe;
	font-size: 32px;
}
h1:before {
	content: " ♾️ ";
	font-size: 38px;
}
h1:after {
	content: " ♾️ ";
	font-size: 38px;
}

section {
	margin: 8px;
	padding: 8px;
	background-color: #eee;
	border-radius: 5px;
}